* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
    color: #fff;
}

header {
    background-color: #000a8f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 5vh 3vw;
    font-family: "Oswald", sans-serif;
}

body {
    background-color:  rgb(59, 59, 59);
}

.logo {
    font-weight: bold;
    text-decoration: none;
}

#imagenLogo {
    height: 5vh;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav li:hover {
    text-decoration: underline;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

main {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    display: flex;
    height: 25vh;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 25vh;
    
    margin-bottom: 10vh;
    margin-left: 7.5vw;
    gap: 3px;
    
}

.info {
    background-color: white;
    border-radius: 10%;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    text-align: center;
    color: black;
}

.flechitaUwU {
    width: 2.5vw;
}

.imgs {
    display: flex;
    align-items: center;
    
}

.imagenesPosta {
    width: 10vw;
    border-radius: 50%;
    border: solid white 8px;
}

.textito2 {
    text-align: center;
}

footer {
    background-color: #000a8f;
    color: white;
    margin-top: 5vh;
    height: 7.5vh;
    display: flex;
    align-items: center;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    nav a {
        font-size: 25px;
    }

    h3 {
        font-size: 37.5px;
    }

    .imagenesPosta {
        width: 17.5vw;
    }

    h4 {
        font-size: 20px;
    }

    .flechitaUwU {
        margin-top: 1vh;
    }

    footer {
        padding-left: 5vw;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    nav a {
        font-size: 20px;
    }

    .imagenesPosta {
        width: 20vw;
    }

    .flechitaUwU {
        margin-top: 1vh;
    }

    footer {
        padding-left: 5vw;
        text-align: center;
    }
}